*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

.page-container {
  display: grid;
}

.wrapper {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.weatherForm {
  margin-top: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
}

.weatherForm__input {
  font-size: 1.3em;
  margin-right: 10px;
}

.weatherForm__btn {
  width: 80px;
}

.weatherCard {
  margin-top: 50px;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 #cfcfcf;
}

.weatherCard__city {
  font-size: 2em;
  margin: 0;
}

.weatherCard__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherCard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherCard__time {
  margin: 0;
}

.weatherCard__info-container {
  display: flex;
  flex-direction: column;
}

.weatherCard__img {
  align-self: center;
  margin: 0;
  font-size: 4em;
}

.weatherCard__temp {
  font-size: 2em;
}

.weatherCard--dark {
  background-color: #2f2f2f;
  color: #eee;
}

.weatherCard__humidity-container {
  display: flex;
  justify-content: space-between;
}

/* Error Modal */
.error {
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 200px;
  padding: 10px 20px;
  margin-top: 50px;
  box-shadow: 0 0 20px 0 #cfcfcf;
}

.error__message {
  font-size: 1.4em;
}

.error__city {
  font-style: italic;
}

.hidden {
  display: none;
}
